<!-- BEGIN HEADER MENU -->
<div class="page-header-menu">
    <div class="container">
        <!-- BEGIN HEADER SEARCH BOX -->
        <form class="search-form" action="page_general_search.html" method="GET">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="query">
                <span class="input-group-btn">
                                <a href="javascript:;" class="btn submit">
                                    <i class="icon-magnifier"></i>
                                </a>
                            </span>
            </div>
        </form>
        <!-- END HEADER SEARCH BOX -->
        <!-- BEGIN MEGA MENU -->
        <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
        <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->

        <div class="hor-menu  ">
            {% block menu %}
                <ul class="nav navbar-nav">
                    <li class="menu-dropdown classic-menu-dropdown active">
                        <a href="javascript:;"> Parametre
                            <span class="arrow"></span>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li class=" active">
                                <a href="{{ path('admin_parametre_composante_index') }}" class="nav-link  active">
                                    <i class="icon-bar-chart"></i> Composante
                                    {#<span class="badge badge-success">1</span>#}
                                </a>
                            </li>
                            <li class=" ">
                                <a href="{{ path('admin_parametre_souscomposante_index') }}" class="nav-link">
                                    <i class="icon-bar-chart"></i> Sous Composante
                                    {#<span class="badge badge-success">1</span>#}
                                </a>
                            </li>
                            <li class=" ">
                                <a href="{{ path('admin_parametre_activite_index') }}" class="nav-link">
                                    <i class="icon-bar-chart"></i> Activité
                                    {#<span class="badge badge-success">1</span>#}
                                </a>
                            </li>
                            <li class=" ">
                                <a href="{{ path('admin_parametre_sousactivite_index') }}" class="nav-link">
                                    <i class="icon-bar-chart"></i> Sous Activité
                                    {#<span class="badge badge-success">1</span>#}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-dropdown classic-menu-dropdown active">
                        <a href="javascript:;"> Utilisateurs
                            <span class="arrow"></span>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li class=" active">
                                <a href="{{ path('admin_utilisateur_fonction_index') }}" class="nav-link  active">
                                    <i class="icon-graduation "></i> Fonctions
                                    {#<span class="badge badge-success">1</span>#}
                                </a>
                            </li>
                            <li class=" ">
                                <a href="{{ path('admin_utilisateur_employe_index') }}" class="nav-link">
                                    <i class="icon-user-follow"></i> Employés
                                    {#<span class="badge badge-success">1</span>#}
                                </a>
                            </li>
                            <li class=" ">
                                <a href="{{ path('admin_utilisateur_groupe_index') }}" class="nav-link">
                                    <i class="icon-users"></i> Groupes
                                    {#<span class="badge badge-success">1</span>#}
                                </a>
                            </li>
                            <li class=" ">
                                <a href="{{ path('admin_utilisateur_utilisateur_index') }}" class="nav-link">
                                    <i class="icon-user"></i> Utilisateurs
                                    {#<span class="badge badge-success">1</span>#}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-dropdown classic-menu-dropdown ">
                        <a href="javascript:;"> Archivage
                            <span class="arrow"></span>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li class=" ">
                                <a href="layout_mega_menu_light.html" class="nav-link  "> Archivage </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-dropdown classic-menu-dropdown ">
                        <a href="javascript:;">
                            <i class="icon-briefcase"></i> Gestion du projet
                            <span class="arrow"></span>
                        </a>
                        <ul class="dropdown-menu pull-left">
                            <li class="dropdown-submenu ">
                                <a href="javascript:;" class="nav-link nav-toggle ">
                                    <i class="icon-basket"></i> Paramètres
                                    <span class="arrow"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class=" ">
                                        <a href="{{ path('admin_parametre_bailleur_index') }}" class="nav-link ">
                                            <i class="icon-home"></i> Bailleur </a>
                                    </li>
                                    <li class=" ">
                                        <a href="{{ path('admin_sise_requete_index') }}" class="nav-link ">
                                            <i class="icon-basket"></i> Requêtes </a>
                                    </li>
                                    <li class=" ">
                                        <a href="{{ path('admin_sise_etat_index') }}" class="nav-link ">
                                            <i class="icon-tag"></i> Etats </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu ">
                                <a href="javascript:;" class="nav-link nav-toggle ">
                                    <i class="icon-docs"></i> DANO
                                    <span class="arrow"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class=" ">
                                        <a href="{{ path('admin_sise_dano_index') }}" class="nav-link ">
                                            <i class="icon-clock"></i> Dano en cours </a>
                                    </li>
                                    <li class=" ">
                                        <a href="{{ path('admin_sise_mail_retour_bailleur') }}" class="nav-link ">
                                            <i class="icon-check"></i> Retour de bailleurs </a>
                                    </li>
                                    <li class=" ">
                                        <a href="{{ path('admin_sise_dano_finalisees') }}" class="nav-link ">
                                            <i class="icon-envelope"></i> Dano finalisées </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            {% endblock %}
        </div>
        <!-- END MEGA MENU -->
    </div>
</div>
<!-- END HEADER MENU -->