    {% block page_content %}
    {% form_theme edit_form ':widget:fields-block.html.twig' %}
    <a class="btn red btn-outline sbold" data-toggle="modal" href="#edit{{ dano.id }}"> Modifier </a>
    <div class="modal fade" id="edit{{ dano.id }}" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog modal-full">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Modification Dano </h4>
                </div>
                {{ form_start(edit_form, {'attr': {'class':'form-horizontal', 'role':'form'}}) }}
                <div class="modal-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">{{ form_row(edit_form.activite) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{{ form_row(edit_form.numero) }}</div>
                            <div class="col-md-6">{{ form_row(edit_form.destinataire) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{{ form_row(edit_form.objet) }}</div>
                            <div class="col-md-6">{{ form_row(edit_form.requete) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{#{{ form_row(edit_form.datereception) }}#}</div>
                            <div class="col-md-6">{#{{ form_row(edit_form.expediteur) }}#}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{{ form_row(edit_form.beneficiaire) }}</div>
                            <div class="col-md-6">{{ form_row(edit_form.description) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{{ form_row(edit_form.observationPTBA) }}</div>
                            <div class="col-md-6">{{ form_row(edit_form.observationPPM) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">{{ form_row(edit_form.corps) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">{{ form_row(edit_form.observation) }}</div>
                        </div>
                        <div class="row">
                            {#<div class="col-md-12">{{ form_row(edit_form.piecejointe) }}</div>#}
                        </div>
                        {{ form_widget(edit_form) }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn blue">Modifier</button>
                </div>
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
    {% endblock %}
