{% extends ':default:index.html.twig' %}

    {% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">Danos en cours</span>
                    </div>
                    <div class="actions">
                        <div class="btn-group">
                            {{ render(controller('SiseBundle:Dano:new')) }}
                        </div>
                        {#<div class="btn-group btn-group-devided" data-toggle="buttons">
                            <label class="btn btn-transparent dark btn-outline btn-circle btn-sm active">
                                <input type="radio" name="options" class="toggle" id="option1">Actions</label>
                            <label class="btn btn-transparent dark btn-outline btn-circle btn-sm">
                                <input type="radio" name="options" class="toggle" id="option2">Settings</label>
                        </div>#}
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tabbable-custom ">
                        <ul class="nav nav-tabs ">
                            <li>
                                <a href="#tab_5_1" data-toggle="tab"> Courriers pour DANO </a>
                            </li>
                            <li>
                                <a href="#tab_5_6" data-toggle="tab"> DANO non validées </a>
                            </li>
                            <li class="active">
                                <a href="#tab_5_2" data-toggle="tab"> DANO en attente d'envoi </a>
                            </li>
                            <li>
                                <a href="#tab_5_3" data-toggle="tab"> DANO soumis au bailleurs </a>
                            </li>
                            <li>
                                <a href="#tab_5_4" data-toggle="tab"> Archives </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane" id="tab_5_1">
                                {{ render(controller('SiseBundle:Mail:liste')) }}
                            </div>
                            <div class="tab-pane" id="tab_5_6">
                                {{ render(controller('SiseBundle:Dano:liste',{'etat':1})) }}
                            </div>
                            <div class="tab-pane active" id="tab_5_2">
                                {{ render(controller('SiseBundle:Dano:liste',{'etat':2})) }}
                            </div>
                            <div class="tab-pane" id="tab_5_3">
                                {{ render(controller('SiseBundle:Dano:liste',{'etat':3})) }}
                            </div>
                            <div class="tab-pane" id="tab_5_4">
                                {{ render(controller('SiseBundle:Dano:liste',{'etat':4})) }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endblock %}
