    {% block page_content %}
    {% form_theme form ':widget:fields-block.html.twig' %}
    <a class="btn btn-xs green btn-outline sbold" data-toggle="modal" href="#new"><i class="fa fa-plus"></i> Ajouter Dano </a>
    <div class="modal fade" id="new" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Creation Dano </h4>
                </div>
                {{ form_start(form, {'attr': {'class':'form', 'role':'form'}}) }}
                <div class="modal-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">{{ form_row(form.activite) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{{ form_row(form.numero) }}</div>
                            <div class="col-md-6">{{ form_row(form.destinataire) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{{ form_row(form.objet) }}</div>
                            <div class="col-md-6">{{ form_row(form.requete) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{{ form_row(form.datereception) }}</div>
                            <div class="col-md-6">{#{{ form_row(form.expediteur) }}#}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{{ form_row(form.beneficiaire) }}</div>
                            <div class="col-md-6">{{ form_row(form.description) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">{{ form_row(form.observationPTBA) }}</div>
                            <div class="col-md-6">{{ form_row(form.observationPPM) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">{{ form_row(form.corps) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">{{ form_row(form.observation) }}</div>
                        </div>
                        <div class="row">
                            <button type="button"
                                    class="add-another-collection-widget btn"
                                    data-list="#ppca_sisebundle_dano_piecejointe">Ajouter</button>
                            <div class="col-md-12">{{ form_row(form.piecejointe) }}</div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn blue">Créer</button>
                </div>
                {{ form_end(form) }}
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}

    {% block javascripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script language="JavaScript">
            jQuery(document).ready(function () {
                jQuery('.add-another-collection-widget').click(function (e) {
                    var list = jQuery(jQuery(this).attr('data-list'));
                    // Try to find the counter of the list
                    var counter = list.data('widget-counter') | list.children().length;
                    alert(counter)
                    // If the counter does not exist, use the length of the list
                    if (!counter) { counter = list.children().length; }
                    // grab the prototype template
                    var newWidget = list.attr('data-prototype');
                    // replace the "__name__" used in the id and name of the prototype
                    // with a number that's unique to your emails
                    // end name attribute looks like name="contact[emails][2]"
                    newWidget = newWidget.replace(/__name__/g, counter);
                    // Increase the counter
                    counter++;
                    // And store it, the length cannot be used if deleting widgets is allowed
                    list.data(' widget-counter', counter);
                    // create a new list element and add it to the list
                    /*var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
                    newElem.appendTo(list);*/
                    list.append(newWidget)
                });
            });
        </script>

    {% endblock %}